@font-face {
  font-family: 'Whirly Bats';
  src: url('/fonts/Whirlybats.ttf');
}
h1 {
  font-size: 36pt;
}
h2 {
  font-size: 32pt;
}
h3 {
  font-size: 28pt;
}
h4 {
  font-size: 24pt;
  margin: 0;
}
h5 {
  font-size: 20pt;
  margin: 0;
}
h6 {
  font-size: 12pt;
  margin: 0;
  font-weight: 300;
}
html {
  margin: 0 7.5% 0 7.5%;
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
body,
li,
ul,
a,
p {
  font-size: 16pt;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Amiri', serif;
}

.contentBody {
  min-height: calc(95vh - 70px);
  position: relative;
}

.footer {
  height: 50px;
}
.content {
  position: relative;
}
.content > * {
  z-index: 1 !important;
}

small {
  font-size: 14pt;
}
footer ul {
  font-size: 18pt;
}
footer .version {
  font-size: 8pt;
}
nav ul {
  font-size: 16pt;
}
nav .label {
  font-size: 18pt;
}
a {
  color: var(--theme-ui-colors-text);
  text-decoration: none;
}
.material-icons-outlined,
.material-icons,
.material-icons-sharp,
.material-icons-two-tone {
  font-family: 'Material Icons';
}

code[class*='language-'],
pre[class*='language-'] {
  white-space: pre-wrap;
  margin: 0.25rem 0.5rem 0.25rem 0.5rem;
  border-radius: 5px;
}

@media screen and (max-width: 1200px) {
  html {
    margin: 0 6.5% 0 6.5%;
  }
}

@media screen and (max-width: 1000px) {
  html {
    margin: 0 5% 0 5%;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 24pt;
  }
  h2 {
    font-size: 22pt;
  }
  h3 {
    font-size: 20pt;
  }
  h4 {
    font-size: 18pt;
    margin: 0;
  }
  h5 {
    font-size: 16pt;
    margin: 0;
  }
  h6 {
    font-size: 14pt;
  }
  code {
    font-size: 14pt;
    word-break: normal;
  }
  pre {
    font-size: 14pt;
    word-break: normal;
  }
  body,
  li,
  ul,
  a,
  p,
  ol {
    font-size: 14pt;
  }
  html {
    margin: 0 2.5% 0 2.5%;
  }

  code[class*='language-'],
  pre[class*='language-'] {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  html {
    margin: 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--theme-ui-colors-gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--theme-ui-colors-text);
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--theme-ui-colors-text);
}

.specialChar {
  font-family: 'Whirly Bats';
  font-size: 24pt;
}
.specialChar:hover {
  cursor: pointer;
  animation: animateFont 0.75s ease 0s infinite normal none running;
}

.verySpecialChar {
  font-family: 'Whirly Bats';
  animation: animateFont 0.75s ease 0s infinite normal none running;
}

/* Animateion */

@keyframes animateFont {
  0% {
    font-variation-settings: 'anim' 100;
  }
  10% {
    font-variation-settings: 'anim' 110;
  }
  20% {
    font-variation-settings: 'anim' 120;
  }
  30% {
    font-variation-settings: 'anim' 130;
  }
  40% {
    font-variation-settings: 'anim' 140;
  }
  50% {
    font-variation-settings: 'anim' 150;
  }
  60% {
    font-variation-settings: 'anim' 160;
  }
  70% {
    font-variation-settings: 'anim' 170;
  }
  80% {
    font-variation-settings: 'anim' 180;
  }
  90% {
    font-variation-settings: 'anim' 190;
  }
  100% {
    font-variation-settings: 'anim' 200;
  }
}
@-moz-keyframes animateFont {
  0% {
    font-variation-settings: 'anim' 100;
  }
  10% {
    font-variation-settings: 'anim' 110;
  }
  20% {
    font-variation-settings: 'anim' 120;
  }
  30% {
    font-variation-settings: 'anim' 130;
  }
  40% {
    font-variation-settings: 'anim' 140;
  }
  50% {
    font-variation-settings: 'anim' 150;
  }
  60% {
    font-variation-settings: 'anim' 160;
  }
  70% {
    font-variation-settings: 'anim' 170;
  }
  80% {
    font-variation-settings: 'anim' 180;
  }
  90% {
    font-variation-settings: 'anim' 190;
  }
  100% {
    font-variation-settings: 'anim' 200;
  }
}
@-webkit-keyframes animateFont {
  0% {
    font-variation-settings: 'anim' 100;
  }
  10% {
    font-variation-settings: 'anim' 110;
  }
  20% {
    font-variation-settings: 'anim' 120;
  }
  30% {
    font-variation-settings: 'anim' 130;
  }
  40% {
    font-variation-settings: 'anim' 140;
  }
  50% {
    font-variation-settings: 'anim' 150;
  }
  60% {
    font-variation-settings: 'anim' 160;
  }
  70% {
    font-variation-settings: 'anim' 170;
  }
  80% {
    font-variation-settings: 'anim' 180;
  }
  90% {
    font-variation-settings: 'anim' 190;
  }
  100% {
    font-variation-settings: 'anim' 200;
  }
}
