h1 {
  font-size: 36pt;
}
h2 {
  font-size: 28pt;
}
h3 {
  font-size: 18pt;
}
h4 {
  font-size: 20pt;
}
h5 {
  font-size: 16pt;
}
h6 {
  font-size: 14pt;
  font-style: italic;
}
html {
  margin: 1.5% 5% 1.5% 5%;
}
p {
  font-size: 12pt;
}
small {
  font-size: 10pt;
}
footer ul {
  font-size: 18pt;
}
footer .version {
  font-size: 8pt;
}
nav ul {
  font-size: 16pt;
}
nav .label {
  font-size: 18pt;
}
