@use 'sass:map';

@import '@laudebugs/common/styles/_fonts.scss';
@import '@laudebugs/common/styles/_whirlybats.scss';
@import '@laudebugs/common/styles/_variables.scss';

@media screen {
  * {
    transition: background-color 200ms;
  }
  h1 {
    font-size: map.get($font-size, 'xxxxlarge');
  }
  h2 {
    font-size: map.get($font-size, 'xxxlarge');
  }
  h3 {
    font-size: map.get($font-size, 'xxlarge');
  }
  h4 {
    font-size: map.get($font-size, 'xlarge');
    margin: 0;
  }
  h5 {
    font-size: map.get($font-size, 'large');
    margin: 0;
  }
  h6 {
    font-size: map.get($font-size, 'xsmall');
    margin: 0;
    font-weight: 300;
  }
  html {
    margin: 0 7.5% 0 7.5%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  body,
  li,
  ul,
  p {
    font-size: map.get($font-size, 'medium');
  }

  small {
    font-size: map.get($font-size, 'xsmall');
  }
  footer ul {
    font-size: map.get($font-size, 'large');
  }
  footer .version {
    font-size: map.get($font-size, 'small');
  }
  nav ul {
    font-size: map.get($font-size, 'medium');
  }
  nav .label {
    font-size: map.get($font-size, 'large');
  }
}

iframe {
  border: 0;
}
figcaption {
  font-family: 'Darker Grotesque', sans-serif;
}
@for $i from 1 through 6 {
  h#{$i} {
    margin-bottom: #{30 - ($i * 5)}px;
    font-family: 'Darker Grotesque', sans-serif;
  }
}
figcaption {
  font-size: map.get($font-size, 'xsmall');
}
.contentBody {
  min-height: calc(95vh - 70px);
  position: relative;
}

.footer {
  height: 50px;
}
.content {
  position: relative;
}

a {
  color: var(--theme-ui-colors-text);
  text-decoration: none;
}

code[class*='language-'],
pre[class*='language-'] {
  white-space: pre-wrap;
  margin: 0.25rem 0.5rem 0.25rem 0.5rem;
  border-radius: 5px;
}

// for things that you don't want the user to select
.noSelect {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
      Introduced in Internet Explorer 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: map.get($screen-size, 'xlarge')) {
  html {
    margin: 0 6.5% 0 6.5%;
  }
}

@media screen and (min-width: map.get($screen-size, 'xxlarge')) {
  html {
    margin: 0 10%;
  }
}

@media screen and (min-width: map.get($screen-size, 'xxxlarge')) {
  html {
    margin: 0 15%;
  }
}

@media screen and (min-width: map.get($screen-size, 'wide')) {
  html {
    margin: 0 20%;
  }
}

@media screen and (min-width: map.get($screen-size, 'ultraWide')) {
  html {
    margin: 0 25%;
  }
}

@media screen and (max-width: map.get($screen-size, 'large')) {
  html {
    margin: 0 5% 0 5%;
  }
  body,
  li,
  ul,
  p,
  ol {
    font-size: map.get($font-size, 'medium') !important;
  }
}

@media screen and (max-width: map.get($screen-size, 'medium')) {
  h1 {
    font-size: map.get($font-size, 'xxlarge');
  }
  h2 {
    font-size: map.get($font-size, 'xxlarge');
  }
  h3 {
    font-size: map.get($font-size, 'xlarge');
  }
  h4 {
    font-size: map.get($font-size, 'large');
    margin: 0;
  }
  h5 {
    font-size: map.get($font-size, 'medium');
    margin: 0;
  }
  h6 {
    font-size: map.get($font-size, 'small');
  }
  code {
    font-size: map.get($font-size, 'xsmall');
    word-break: normal;
  }
  h1 code {
    font-size: map.get($font-size, 'large');
  }
  pre {
    font-size: map.get($font-size, 'small');
    word-break: normal;
  }
  body,
  li,
  ul,
  p,
  ol {
    font-size: map.get($font-size, 'small') !important;
  }
  p code {
    font-size: map.get($font-size, 'xsmall');
  }
  html {
    margin: 0 2.5% 0 2.5%;
  }

  code[class*='language-'],
  pre[class*='language-'] {
    margin: 0;
  }
}

@media screen and (max-width: map.get($screen-size, 'small')) {
  html {
    margin: 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--theme-ui-colors-text);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--theme-ui-colors-text);
}

@media print {
  h1 {
    font-size: map.get($font-size, 'xxlarge') !important;
  }
  h2 {
    font-size: map.get($font-size, 'xlarge') !important;
  }
  h3 {
    font-size: map.get($font-size, 'xlarge') !important;
  }
  h4 {
    font-size: map.get($font-size, 'large') !important;
    margin: 0;
  }
  h5 {
    font-size: map.get($font-size, 'medium') !important;
    margin: 0;
  }
  h6 {
    font-size: map.get($font-size, 'small');
    margin: 0;
    font-weight: 300;
  }
  html {
    margin: 0 2.5% 0 2.5%;
  }
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  body,
  li,
  ul,
  p {
    font-size: map.get($font-size, 'xsmall') !important;
  }
  pre *,
  code {
    font-size: map.get($font-size, 'xxsmall') !important;
  }

  small {
    font-size: map.get($font-size, 'xxsmall');
  }
  footer ul {
    font-size: map.get($font-size, 'xsmall');
  }
  footer .version {
    font-size: map.get($font-size, 'small');
  }
  nav ul {
    font-size: map.get($font-size, 'xsmall');
  }
  nav .label {
    font-size: map.get($font-size, 'xsmall');
  }
  .progressBar {
    display: none;
  }
  span h6 {
    font-size: map.get($font-size, 'xxsmall');
  }
  a:after {
    content: ' [' attr(href) '] ';
  }
}
