$screen-size: (
  small: 640px,
  medium: 768px,
  large: 1024px,
  xlarge: 1280px,
  xxlarge: 1440px,
  xxxlarge: 1920px,
  wide: 2400px,
  ultraWide: 2880px
);

$font-size: (
  xxxsmall: 0.7rem,
  xxsmall: 0.8rem,
  xsmall: 1rem,
  small: 1.2rem,
  medium: 1.4rem,
  large: 1.6rem,
  xlarge: 1.8rem,
  xxlarge: 2rem,
  xxxlarge: 2.4rem,
  xxxxlarge: 2.6rem
);
