@use 'sass:map';
@import '../../styles/_variables.scss';

.spinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: '20%';
}
.container {
  margin: 2% 10% 0;
  @media screen and (max-width: 768px) {
    margin: 2% 5% 0;
  }
  @media screen and (max-width: 480px) {
    margin: 2% 0% 0;
  }
}
.fragment {
  .description {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'a b c';

    .title {
      display: flex;
      justify-content: center;
      // align-items: center;
      h2 {
        margin: 0;
      }
    }
    @media screen and (max-width: map.get($screen-size, 'medium')) {
      display: flex;
      flex-direction: column;
    }
    .metadata {
      padding-left: 2ch;
      h2 {
        font-size: 2rem;
        padding-left: 2ch;
      }
      @media screen and (max-width: map.get($screen-size, 'medium')) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        h2 {
          padding-left: 0;
        }
        padding-left: 0;
      }
    }
  }

  p {
    font-size: 1.2rem;
    @media screen and (max-width: map.get($screen-size, 'medium')) {
      margin-top: 0.5rem;
    }
  }
  hr {
    width: 50%;
    margin-left: 0 25%;
    margin-bottom: 5%;
    color: var(--theme-ui-colors-borderColor);
  }
  margin-bottom: 5%;
}

.fragment {
  margin: 0 10% 0 10%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  @media print {
    margin: 0;
  }
}
