.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: var(--theme-ui-colors-background);
  user-select: none;
  span.centerNav {
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      .logo {
        margin: 0 2ch 0 2ch;
      }
      a {
        text-decoration: none;
      }
      h3 {
        margin: 0;
      }
    }
  }
  position: sticky;
  top: 4px;
}

.selected {
  position: relative;
  a:not(.selected_right, .selected_left) {
    color: var(--theme-ui-colors-gray);
  }
  a.selected_left {
    ::before {
      content: '| ';
      position: absolute;
      margin-left: -0.5em;
    }
  }

  a.selected_right {
    ::after {
      content: ' |';
      position: absolute;
      margin-left: 0.25em;
    }
  }
}

.paths,
.selected {
  a:nth-of-type(1) {
    padding-right: 2em;
  }
  a:nth-of-type(3) {
    padding-left: 2em;
  }
}
.colorModeToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media screen and (max-width: 600px) {
  .menuBtn {
    margin-left: 2rem;
  }
  .colorModeToggle {
    margin-right: 2rem;
  }

  .paths,
  .selected {
    a:nth-of-type(1) {
      padding-right: 1em;
    }
    a:nth-of-type(3) {
      padding-left: 1em;
    }
  }
}
