.postinfo {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  z-index: -1;
  span.featuredImage {
    img {
      object-fit: cover;
    }
  }

  span.deets {
    display: flex;
    flex-direction: column;
    text-align: right;

    h1 {
      margin: 0.25em 0 0.25em 0;
      line-height: 1em;
    }
    align-items: flex-end;
    border-right: 2px solid;
    padding-right: 1em;
    top: 50%;
    bottom: 0;
    height: 90%;
  }
}

@media screen and (max-width: 800px) {
  .postinfo {
    grid-template-columns: 1fr;
  }
}
