.content {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  z-index: -1;
  p {
    margin-top: 0;
  }
  .img {
    width: 100%;
    object-fit: contain;
  }
}
.link {
  text-decoration: none;
  color: var(--theme-ui-colors-text);
  &:hover {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}

@media screen and (max-width: 1000px) {
  .content {
    grid-template-columns: 1fr;
  }
}
