.content {
  display: grid;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div.summary {
    width: 57.5%;
  }
  div.image {
    width: 40%;
    display: flex;
    align-items: flex-start;
    .img {
      width: 100%;
    }
  }
  z-index: -2;
  p {
    margin-top: 0;
    font-size: 14pt;
  }
}
.link {
  text-decoration: none;
  color: var(--theme-ui-colors-text);
  &:hover {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}

@media screen and (max-width: 1000px) {
  .content {
    flex-direction: column;
    div.summary {
      width: 100%;
    }
    div.image {
      width: 100%;
    }
  }
}
