.sideNav {
  position: fixed;
  min-height: 100%;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 2;
  display: grid;
  grid-template-columns: 4fr 1fr;

  .menu {
    background-color: var(--theme-ui-colors-background);
    height: 100vh;
    padding: 20% 20% 30% 20%;
    display: flex;
    flex-direction: column;
    height: 100%;
    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      .undone {
        color: var(--theme-ui-colors-gray);
      }
      a {
        text-align: center;
        svg {
          width: 60%;
          margin: 10%;
          stroke: var(--theme-ui-colors-text);
          &:hover {
            stroke: var(--theme-ui-colors-background);
            fill: var(--theme-ui-colors-text);
          }
        }
        font-size: 18pt;
        &:hover {
          &:not(.undone) {
            color: var(--theme-ui-colors-primary);
          }
        }
      }
    }
  }
  .shadow {
    position: relative;
    background-color: var(--theme-ui-colors-text);
    opacity: 0.65;
    height: 100%;
    z-index: 3;
  }
}

@media screen and (max-width: 1200px) {
  .sideNav {
    grid-template-columns: 3fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .sideNav {
    grid-template-columns: 2fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .sideNav {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .sideNav {
    grid-template-columns: 1fr 2fr;
  }
}
