@use 'sass:map';
@import '../styles/_variables.scss';

span.tags {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  span {
    font-size: map.get($font-size, 'xsmall');
    border: 0.5px dotted var(--theme-ui-colors-text);
    padding: 0 1ch 0 1ch;
    margin: 1ch 1ch 0 0ch;
    &:hover {
      background-color: var(--theme-ui-colors-text);
      color: var(--theme-ui-colors-background);
      cursor: pointer;
    }
    @media print {
      // font-size: 12pt !important;
    }
  }
}
